@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

$five: hsla(0, 0%, 10%, 1); // Negro profundo
$fourh: rgb(32, 31, 30); // Gris oscuro
$third: hsla(30, 100%, 90%, 1); // Amarillo claro
$secondary: rgb(48, 116, 194); // Gris claro
$primary: rgb(49, 150, 233); // Blanco
$soft: rgb(241, 238, 238); // Gris claro
$note: #677483;


/* ion-button,
button {
    background: $primary !important;
    color: $soft!important
} */

ion-icon {
    color: $secondary;
}

/* *{
    font-family: 'Ubuntu Mono', monospace !important;
} */

ion-content,
ion-page {
    background-color: transparent !important;
}