$white: #fff;
$google-blue: #4285f4;
$button-active-blue: #1669F2;
@import url(https://fonts.googleapis.com/css?family=Roboto:500);


.containerLoginButton {
    margin: 0;
    display: flex;
    justify-content: center;

    .google-btn {
        width: 220px;
        height: 80px;
        background-color: $google-blue;
        border-radius: 2px;
        box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .25);
        margin-top: 10%;
        display: flex;
        justify-content: center;
        background-color: white;
        align-items: center;


        .google-icon-wrapper {
            margin-top: 1px;
            margin-left: 1px;
            width: 40px;
            height: 40px;
            border-radius: 2px;
            display: flex;
            border-radius: 50px;
            justify-content: center;
            align-items: center;


        }

        .google-icon {
            position: absolute;

            width: 40px;
            height: 40px;

        }


        .btn-text {
            float: right;
            margin: 11px 11px 0 0;
            color: $black;
            font-size: 14px;
            letter-spacing: 0.2px;
            font-family: "Roboto";
            display: flex;
            flex-direction: column;

            p {
                margin-left: 10px;
            }
        }

        &:hover {
            box-shadow: 0 0 6px $google-blue;
        }

        &:active {
            background: $button-active-blue;
        }
    }
}



.knobContainer {
    width: 100% !important;
    --border-style: none !important;

    display: flex;
    justify-content: center;
    align-items: center;

    ion-list {
        background-color: transparent;

    }


    ion-select {
        font-weight: 100 !important;
        color: $primary;
        background-color: transparent;
        font-size: 1.1rem;
        box-shadow: none !important;
        display: flex !important;
        flex-direction: column !important;
        align-items: center !important;
    }

    button {
        margin: 20px !important;
    }

    svg {
        color: $primary !important
    }

    ion-breadcrumb {
        color: $primary;
    }


}

.homeImg {
    position: fixed;
    bottom: 0px;
}