.writeAMessage{
     height: 100%;
     width: 100%;
    }

.divMsg{
    height: 100%;

}
.chatMsgContainer{
    height: 62vh !important;
    overflow: auto;

}


//anteriores


.contactoMensajesInfo {
  }
  
  .mensajesDiv {

  }
  .contentChatByMe {

  }
  
  .sendMessage {

  }
  
  .inputMessage {
  
  }
  
  .writeMessage {

  }
  
  .formChat {

  }
  
  .writeAMessage {

  }
  
  .bg-sky-70 {

  }
  
  .spanName {

  }
  
  .chatMsgContainer {

  }
  
  .spanNameUser {
  }
  
  .chattingWith {

  }
  
  .backToMessages {

  }
  
  .mensajesDiv {

  }
  .mensajesButton {

  }
