.formsContainer {
    ion-Breadcrumb {
        margin: 2px;
        box-shadow: rgba(173, 176, 205, 0.16) 0px 10px 36px 0px, rgba(219, 219, 230, 0.848) 0px 0px 0px 1px;
    }

    ion-select {
        width: 100vw !important;
    }

    ion-button {
        width: 100%
    }

    .sendButton {
        display: flex;
        justify-content: center;
    }



    .formEditPet {
        width: 100%;
    }

    .pictureModal {
        display: flex;
        justify-content: center;
        padding: 10px;
        margin: 5px;


        img{
            width: 200px !important;
            height: 200px !important;
            border-radius: 80px;
        }

    }

}

ion-content {
    --padding-start: 0 !important;
    --padding-end: 0 !important;
}