.imagenInicial {
    margin-top:5%;
    width: 100%;
}

.appBarContainer {
    background-color: $primary !important;
}

ion-header {
    background-color: $primary !important;
}

.p-button {
    background-color: $primary !important;
    padding: 2%;
}

ion-badge {
    background-color: $primary !important;
    fill: none !important;
}
ion-icon{
    color:#1976d2 !important;
}