.imgListContainer {
    ion-item {
        --border-style: none !important
    }

    .imgListItem {
        border-radius: 50px;
        width: 50 !important;
        padding: 10px !important ;

    }

}