//CAROUSEL

.p-carousel-item {
    height: 100%;
div{
    padding: 0 !important;
}

    img {
        width: 300px !important;
        height: 300px;
        object-fit: cover;
        border-radius: 20px;
        
    }
}   