.additionalsUserPets {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: $white;

    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1.0rem;


    }

    img {
        width: 280px;
        height: 280px;
        object-fit: cover;
        margin-top: 3%;
        border-radius: 10px;

    }
}

.userPetsPhoto{
    border-radius: 10px !important;
}
.buttonAddMyPet {
    width: 100%;
    background-color: $secondary !important;
    padding: 50px !important;
    height: 30px;
}

.petsContainer {
    display: flex;
    align-items: center;
    align-content: center;
    height: 120px;
    border-radius: 10px;
    background-color: $secondary !important;
}

.frontCommandCard {
    display: flex;
    align-items: center;
    justify-content: space-between !important;
    width: 100%;
}

.commandContainerI {
    display: flex;
    justify-content: center;
    width: 80px;
    img{
        padding:4px;
        height: 100px;
        width: 100px;
        object-fit: contain;
        border-radius: 40px;
    }

    ion-badge{
        width: 50px;
    }

}

.commandContainerII {
    display: flex;
    justify-content: center;
    width: 120px;


    ion-breadcrumb {
        color: $primary !important;

    }
}

.commandContainerIII {
    display: flex;
    justify-content: center;
    width: 20px;
    
}

.petDetailAdditionals {
    font-size: 0.8rem;
    margin-top: 1%;
}

.buttonsAdditionals {
    display: flex;
    flex-direction: column !important;
    justify-content: space-evenly !important;
    color: $primary;
    width: 100%;

    button {}

}

.addPetUserPets {



   
}